<head>
    <title>Message</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
	<%- include('navbar', {links: links}) %>
    <div class="message">
        <div class="message-content">
            <span> <%= message.message %> </span>
        </div>
        <div class="message-detail">
            <span> <%= message.author %> </span>
            <span> <%= message.date %> </span>
        </div>
    </div>
</body>
